{% load static %}
<html>
<body>
    <h2>Driver hitch history</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="driverlogin">back</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>location</th>
            <th>destination</th>
            <th>time</th>
            <th>passengername</th>
            <th>transactionamount</th>
            <th>date</th>
        </thead>
        {% for userInfo in records %}
        <tr>
            
            <td> {{ transactionHistory.3 }} </td>
            <td> {{ transactionHistory.4 }} </td>
            <td> {{ transactionHistory.2 }} </td>
            <td> {{ transactionHistory.2 }} </td>
            <td> {{ transactionHistory.1 }} </td>
            <!-- <td> {{ transactionHistory.1 }} </td> -->
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>
