<html>
<body>
    <h2>Login</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <a href="index"><button>Login as admin</button></a>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" value="{{obj.2}}" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_dob" class="control-group"> <label for="id_dob" class="control-label requiredField">
        Password <span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" class="dateinput" required="" id="id_password"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">

        <br>
        <br>
        <a href="index"><button>Login as admin</button></a>
        
    </form>
    <a href="driverinterface"><button>Login as driver</button></a>
    <a href="passengerinterface"><button>Login as passenger</button></a>
</body>
</html>
