{% load static %}
<html>
<body>
    <h2>Admin page user list</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="driverlogin">User login(driver)</a>
    <a href="passengerlogin">User interface(passenger)</a>
    <a href="add">New customer</a>
    <a href="driverlist">driver list</a>
    <a href="passengerlist">passenger list</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>username</th>
            <th>action</th>
        </thead>
        {% for userInfo in records %}
        <tr>
            
            <td> {{ userInfo.0 }} </td>
            <td> {{ userInfo.3 }} </td>
            <td> {{ userInfo.2 }} </td>
            <td> {{ userInfo.1 }} </td>
            <td>
                <a href="view/{{userInfo.0}}"><button>View</button></a> | 
                <a href="edit/{{userInfo.0}}"><button>Edit</button></a>
                <a href="driver/{{userInfo.0}}"><button>Sign up as driver</button></a>
                <a href="passenger/{{userInfo.0}}"><button>Sign up as passenger</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{userInfo.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{userInfo.0}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
