<html>
<body>
    <h2>Details for {{userInfo.1}} {{userInfo.2}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>username</th>
            <td>:</td>
            <td> {{ userInfo.1 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ userInfo.2 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ userInfo.3 }} </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ userInfo.0 }} </td>
        </tr>
        <tr>
        
    </table>
</body>
</html>
